---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- BEGIN main -->
<main class="main">
	<!-- BEGIN inner -->
	<div class="inner">
		<!-- BEGIN select-l -->
		<div class="select-l">
			<div class="select-l__title">Select currency to exchange:</div>
			<select name="select" id="select">
				<option value="https://apiv2.bitcoinaverage.com/indices/global/ticker/BTCUSD">USD</option>
				<option value="https://apiv2.bitcoinaverage.com/indices/global/ticker/BTCEUR">EUR</option>
				<option value="https://apiv2.bitcoinaverage.com/indices/global/ticker/BTCRUB">RUB</option>
				<option value="https://apiv2.bitcoinaverage.com/indices/global/ticker/BTCGBP">GBP</option>
			</select>
		</div>
		<!-- END select-l -->

		<!-- BEGIN cards -->
		<ul class="cards__list">
			{% set cardsList = [
				{
					"cardName": "Ethereum",
					"cardTitle": "Price:",
					"switchName": "switch-1"
				},
				{
					"cardName": "Litecoin",
					"cardTitle": "Price:",
					"switchName": "switch-2"
				},
				{
					"cardName": "Bitcoin",
					"cardTitle": "Price:",
					"switchName": "switch-3"
				}
				]%}
				{% for cardItem in cardsList %}

				<!-- BEGIN cards-item -->
				<li class="cards__item">
					<div class="card">
						<div class="card__header">
							{{cardItem.cardName}}
						</div>
						<div class="card__body">
							<div class="card__row">
								<div class="card__title card__title-wh card__title-price">
									{{cardItem.cardTitle}}
								</div>
								<div class="card__price js-price-change">

								</div>
							</div>
							<div class="card__row card__row-percent">
								<div class="card__title card__title-wh">
									Percent change:
								</div>
								<div class="card__toggle switch">	
									<input type="checkbox" class="switch__field js-checkbox" id="{{cardItem.switchName}}"/>
									<label for="{{cardItem.switchName}}" class="switch__label">
										<i class="switch__ico"></i>
									</label>
								</div>
							</div>
							<div class="card__row">
								<div class="card__title">
									Hour change
								</div>
								<div class="card__stat js-hour-change">

								</div>
							</div>
							<div class="card__row">
								<div class="card__title">
									Day change
								</div>
								<div class="card__stat js-day-change">
								</div>
							</div>
							<div class="card__row">
								<div class="card__title">
									Week change
								</div>
								<div class="card__stat js-week-change">
								</div>
							</div>
							<div class="card__row">
								<div class="card__title">
									Month change
								</div>
								<div class="card__stat js-month-change">
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- END cards-item -->
				{% endfor %}
			</ul>
			<!-- END cards -->
		</div>
		<!-- END inner -->
	</main>
	<!-- END main -->
	{% endblock %}
